/*Globales css*/
:root{
    --blanco: #fff;
    --negro: #111111;
    --verde: #26d07c;
    --borde-boton: #64a19d;
    --gris: rgba(0, 0, 0, 0.5);
    --gris-verde: #d0f5e2;
}
@font-face {
    font-family: Muli;
    src: url('../fonts/Muli.ttf');
}
@font-face {
    font-family: Muli-light;
    src: url('../fonts/Muli-ExtraLight.ttf');
}

html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 14px;
    font-family: Muli;
}

h1,h2,h3,p{
    margin:0
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    width: 90%;
}
.text-center{
    text-align: center;
}
.mt-2{
    margin-top:2rem
}

.header__nav{
    display: flex;
    padding-top: .3rem;
    padding-bottom: .3rem;
    align-items: center;
    justify-content: space-between;
}

.header__nav__logo{
    width: 60px;
}
.header__nav__btn a{
    padding: 0.5rem;
    border: var(--borde-boton) 1px solid;
    border-radius: 4px;
    color: var(--borde-boton);
}
.header__nav__links{    
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 55px;
    left: 0;
    width: 100%;
    background-color: var(--blanco);
    padding-top: .5rem;
    visibility: hidden;
}
.active{
    visibility: inherit;
}
.header__nav__links a{
    color: var(--gris);
    font-size: 1rem;
    padding-bottom: 1.2rem;
    padding-left: 5%
}
.header__nav__links a:hover{
    color: var(--negro)
}

.header__main{
    height: 600px;
    background-image: url('https://i.postimg.cc/pXxnzRQm/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.header__main h1{
    color: var(--verde);
    font-family: Muli-light;
    letter-spacing: 0.2rem;
    font-weight:500;
    font-size: 3rem;
}
.header__main p{
    color: var(--blanco);
    font-size: 1rem;
    padding-bottom: 2.5rem;
    padding-top: .5rem;
}
.header__main a{
    background-color: var(--verde);
    letter-spacing: 0.1rem;
    padding: 1.3rem 2rem;
    color: var(--blanco);
    border-radius: 5px;
    font-weight: 500;
}

.header__main a:hover{
    background-color: var(--borde-boton);
    transition: background-color 0.2s linear;
}
.about-section{
    height: 380px;
    background-color: var(--verde);
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.about-section__titulo{
    font-weight: 500;
    padding-bottom: 2rem;
    font-size: 2rem;
}
.about-section__descripcion{
    letter-spacing: 0.1rem;
    padding: .5rem;
    text-align: center;
    line-height : 25px;
    color: var(--gris-verde);
    max-width: 736px;
}
.beneficios{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 700px;
    margin: auto;

}
.beneficios div:nth-child(4){
    grid-row-start: 3;
}
.beneficios div:nth-child(2){
    text-align: center;
    background-color: var(--negro);
    color: var(--blanco);
    padding: 2.5rem 4rem;
    margin-bottom: 2rem;
    line-height : 25px;
}
.beneficios div:nth-child(2) h2{
    font-weight: 500;
    font-size: 1.5rem;
}
.beneficios div:nth-child(2) p{
    color: #bbbbbb;
    padding-top: 1rem;
    font-size: 1rem;
}
.beneficios div:nth-child(2) hr{
    visibility: hidden;
}


.beneficios div:nth-child(3){
    text-align: center;
    background-color: var(--negro);
    color: var(--blanco);
    padding: 2.5rem 4rem;
    margin-bottom: 2rem;
    line-height : 25px;
}
.beneficios div:nth-child(3) h2{
    font-weight: 500;
    font-size: 1.5rem;
}
.beneficios div:nth-child(3) p{
    color: #bbbbbb;
    padding-top: 1rem;
    font-size: 1rem;
}
.beneficios div:nth-child(3) hr{
    visibility: hidden;
}


.beneficios div:nth-child(6){
    text-align: center;
    background-color: var(--negro);
    color: var(--blanco);
    padding: 2.5rem 4rem;
    margin-bottom: 2rem;
    line-height : 25px;
}
.beneficios div:nth-child(6) h2{
    font-weight: 500;
    font-size: 1.5rem;
}
.beneficios div:nth-child(6) p{
    color: #bbbbbb;
    padding-top: 1rem;
    font-size: 1rem;
}
.beneficios div:nth-child(6) hr{
    visibility: hidden;
}
.titulo__beneficios{
    font-size: 2.5rem;
    font-weight: lighter;
    text-align: center;
    margin: 8rem 0 3rem 0;
}
.footer{
    background-color: var(--negro);
    color: var(--blanco);
    text-align: center;
    padding: 5rem 0 1rem 0;
    margin-top: 7rem;
}
.footer__nav{
    display: grid;
    gap: 2rem;
}
.footer__nav h3{
    font-size: 1.3rem;
}
.footer__nav div:nth-child(1){
    font-size: 1rem;
    font-weight: lighter;
    padding: .5rem;
}
.footer__nav div:nth-child(2){
    display: flex;
    flex-direction: column;
}
.footer__nav div:nth-child(2) a{
    color:var(--blanco)
}
.footer__nav div:nth-child(3){
    display: flex;
    flex-direction: column;
}
.footer__nav div:nth-child(3) a{
    color:var(--blanco)
}
.footer__copi{
    padding-top: 2rem;
}
@media (min-width: 992px) {
    
    .header__nav{
        height: 88px;
    }
    .header__nav__btn{
        display: none;
    }
    .header__nav__links{
        position: relative;
        display: flex;
        flex-direction: row;
        top: 0;
        width: auto;
        background-color: var(--blanco);
        padding-top: 0;
        visibility: inherit;
    }
    .header__nav__links a{
        padding: 0 1rem;
        margin: 0;
    }
    .header__main{
        height: calc(100vh - 88px);
    }
    .header__main h1{
        color: var(--verde);
        font-family: Muli-light;
        letter-spacing: 0.5rem;
        font-weight:bold;
        font-size: 6.5rem;
    }
    .header__main p{
        font-size: 1.5rem;
    }
    .beneficios{
        grid-template-columns: 1fr 1fr;
        max-width: 1140px;
    }
    .beneficios div:nth-child(2){
        margin-bottom: 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .beneficios div:nth-child(2) hr{
        visibility: inherit;
        width: 120px;
        height: 2px;
        margin: 0;
        margin-top: 15px;
        background-color: var(--borde-boton);
        border-color: var(--borde-boton);
    }
    .beneficios div:nth-child(3){
        margin-bottom: 0;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .beneficios div:nth-child(3) hr{
        visibility: inherit;
        width: 120px;
        height: 2px;
        margin-right: 0;
        margin-top: 15px;
        background-color: var(--borde-boton);
        
        border-color: var(--borde-boton);
    }
    .beneficios div:nth-child(6){
        margin-bottom: 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .beneficios div:nth-child(6) hr{
        visibility: inherit;
        width: 120px;
        height: 2px;
        margin: 0;
        margin-top: 15px;
        background-color: var(--borde-boton);
        border-color: var(--borde-boton);
    }
    .footer__nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer__nav div{
        padding: 1rem;
    }
}